<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 9 Vault</key>
	<array>
		<string>Amanar/Shewfelt</string>
	</array>
	<key>Level 9 Bars</key>
	<array>
		<string>Kip cast handstand</string>
		<string>Straddle Back</string>
		<string>Tkatchev</string>
	</array>
	<key>Level 9 Beam</key>
	<array>
		<string>Miller</string>
		<string>Planche</string>
		<string>Gainer</string>
	</array>
	<key>Level 9 Floor</key>
	<array>
		<string>Double full</string>
		<string>Round off</string>
		<string>Double back</string>
	</array>
</dict>
</plist>
